h1 a:hover{
    color: red;
}
h2 a:hover{
    color: red;

}
h3 a:hover{
    color: red;
    
}

h1 {
    text-align: left;
    color: purple;

}
        h2 {text-align: left;
        color: purple;
    
  }

  li{
    text-align: left;
    color: black;   
}

 

